body {
    width: 500px;
}
button {
    padding: 5px 10px 5px 10px;
    margin: 5px;
}
#status-label {
    margin-bottom: 10px;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f1b03f;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #d70606;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.body_info_seen {
    background-color: #cfd5d7;
}

.body_info_not_seen {
    background-color: lightblue;
}


.margin_info {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 10px;
}

.button_more {
    float: right;
    margin-right: 10px;
    padding-top: 5px;
    padidng-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
